.input-group{
    position: relative;
    padding: 20px 05px;
}

.input-group select{
    width: 100%;
}

.input-group>.sel-wrap{
    margin: 5px 0;
    left: 25px;
    right: 25px;
    top: 25px;
}

.sel-wrap>select2{
    width: 100%;
}

.input-group>label{
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1;
    transition: 0.2s ease-out;
    pointer-events: none;
    color: grey;
}

.input-group>label.filled{
    left: 05px;
    transform: translateY(-140%);
    display: inherit;
}

.input-group>label.active{
    color: #ff4081;
}

.select2 .selection .select2-selection{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;

}

.select2-container *:focus{
    outline: none;
}

.select2-dropdown--below{
    margin-top: 10px;
}

span.select2-container--open .select2-results__options .select2-results__option{
    padding: 10px 16px 16px 10px;
    color: black;
}

span.select2-container--open .select2-results__options .select2-results__option[aria-selected="true"]{
    background-color: Silver;
}

span.select2-container--open .select2-results__options .select2-results__option--highlighted{
    background-color: Gainsboro;
}

span.select2-container--open .select2-dropdown{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
}

span.select2-container--open .select2-dropdown .select2-search--dropdown{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 95%;
    margin: 10px auto;
    border-radius: 1px;
}

span.select2-container--open .select2-dropdown .select2-search--dropdown input{
    border-radius: 1px;
}

/* bottom bar */
.bar{
    width: 100%;
    background-color: violet;
    position: relative;
    display: block;
}

.bar:before, .bar:after   {
    content:'';
    width:0;
    height:2px;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
}

.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

/* active state */
.select2-container--focus ~ .bar:before, .select2-container--focus ~ .bar:after,
.select2-container--open ~ .bar:before, .select2-container--open ~ .bar:after{
    width:50%;
}

.requiredfield {
   color: red;
   font-weight: bold;
}

/* underline when focused */
.aadhaar-selected{
    border-bottom: 1px solid #ff4081 !important;   /* pink underline */
    box-shadow: 0 1px 0 0 #ff4081 !important;
}




